<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Student</title>
</head>
<body>
<h1>Delete Student</h1>
<h3>Are you sure</h3>
<p>
    <a href="/list">Go to List</a>
</p>
<form  th:object="${student}" th:action="@{/test/delete}" method="post">
   <label>
       <input type="hidden" th:field="*{id}" name="id">
   </label>
    <table>
         <tr>
            <td>Name</td>
            <td th:text="${student.name}"></td>
        </tr>
         <tr>
            <td>Number</td>
            <td th:text="${student.number}"></td>
        </tr>
         <tr>
            <td>Address</td>
            <td th:text="${student.address}"></td>
        </tr>
         <tr>
            <td>Email</td>
            <td th:text="${student.email}"></td>
        </tr>
         <tr>
            <td>Mark</td>
            <td th:text="${student.mark}"></td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="submit" value="Delete Student">
                </label>
            </td>
        </tr>

    </table>
</form>

</body>
</html>